body {
  background-color: black;
  color: white;
}

#dialogue_div {
  width: 100%;
  padding: .2em;
  text-align: center;
  font-size: 1.05em;
}

#dialogue_info {
  color: #bbb;
  font-size: 0.8em;
}

#dialogue_speaker {
  color: #0055ff;
  font-size: 0.9em;
}

#battle_div th {
  text-align: left;
  font-size: .7em;
}

#battle_div td {
  padding-right: 1.5em;
}
