body {
  background-color: black;
  color: white;
  font-family: 'IBM Plex Mono', monospace;
}

#overlay_div {
  position: absolute;
  padding: .1em;
  height: 70%;
  width: 100%;
}

#html_div {
  max-width: 800px;
  text-align: left;
  display: inline-block;
}

#dialogue_div {
  width: 100%;
  padding: .1em;
  text-align: center;
  font-size: 1.05em;
}

#dialogue_info {
  color: #bbb;
  font-size: 0.8em;
}

#dialogue_speaker {
  color: #0055ff;
  font-size: 0.9em;
}

#battle_div {
  width: 100%;
  padding: 0.1em;
}

#battle_div th {
  text-align: left;
  font-size: 0.8em;
}

#battle_div td {
  text-align: left;
  font-size: 0.8em;
  padding-right: 0.2em;
  padding-left: 0.2em;
}

#data_table {
  width: 100%;
}

.sub {
  color: #ccc;
  font-size: 0.8em;
}

table {
  margin-left: auto;
  margin-right: auto;
}

button {
  background-color: #005b94;
  border-radius: 3px;
  border: 1px solid #0b0e07;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  padding: 9px 9px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #263666;
}
button:hover {
  background-color: #0688fa;
}
button:active {
  position: relative;
  top: 1px;
}
button:disabled {
  background-color: #000000;
  position: relative;
  top: 1px;
}

.half {
  vertical-align: top;
  width: 50%;
}

#log_div {
  font-size: .7em;
  text-align: right;
  vertical-align: top;
  overflow: auto;
  height: 14em;
}

#info_div {
  font-size: .9em;
}

.log_result {
  color: #bbb;
  font-style: italic;
}

.actor_card {
  background-color: #000000cc;
  padding: 12px 3px;
  font-size: .7em;
}

#enemy_info_div {
  position: absolute;
  top: 50%;
  width: 100%;
}

#player_info_div {
  position: absolute;
  bottom: 0;
  width: 100%;
}